html{background-color: #333;}
body{background-color: #fdfdfd; width:100%;}
p{font-family: 'Urbanist', sans-serif; font-size: 0.9em;}
h1{font-family: 'Oregano', cursive; font-size: 2.8em;}
h2{font-family: 'Urbanist', sans-serif; font-size: 1.5em; font-weight: bold;}
h3{font-family: 'Oregano', cursive; font-size: 1.3em; font-weight: 300;}
h4{font-family: 'Urbanist', sans-serif; font-size: 1em; font-weight: bold;}
h5{font-family: 'Urbanist', sans-serif; font-size: 1em; font-weight: 500;}

h1, h2{font-weight:lighter;}
.activo{
    color: rgb(128, 118, 118);
    text-decoration: underline;
}
.nav-link:hover, a:hover {color:#9b8f8f; font-weight: bold;}
.justificado{text-align: justify;}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    font-size:0.7em;
    color:white;
    line-height: 0.6em;
    text-transform: uppercase;
    a{
        color:white;
        font-family: 'Urbanist', sans-serif;
        text-decoration: none;
        :hover{
            background-color: rgb(128, 118, 118);
        }
    }
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-shadow: 1px 2px 10px 0px rgba(63, 68, 68, 0.75);
}

.footnav{
    line-height: 1em;
    color:white;
    :hover{
        color: black;
    }
    :active{text-decoration: underline;}
}

.logo{
    width:10rem;
    height:auto;
    margin: 0 auto;
    margin-top: -0.6em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight:lighter;
    text-align: center;
}

.mensaje{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight:lighter;
    text-align: center;
}

.video{
    position:relative;
    max-width:900px;
}

.bot_ini{
    margin: 1em 1.6em;
    border-radius: 2em;
    border: 1px solid #2e3a3f;
    background: rgb(183,195,195);
    background: linear-gradient(180deg, rgba(183,195,195,1) 1%, rgba(215,228,228,1) 9%, rgba(196,207,207,1) 74%, rgba(93,111,116,1) 100%);

    font-family: 'Urbanist', sans-serif; 
    font-size: 1.4rem; 
    font-weight: bold;
    padding: 0.4em;
    color:black;
}

.propuesta{text-align:center; font-size:2em;}

.seccion{
    width:90%;
    padding: 0.6em;
}

.laminas{
    margin: 6em auto;
    padding: 1em;
}

.tarjeta, .listaBook{
    box-shadow: 1px 2px 8px 1px #b9b9b7a1;
    border-radius: 1.6em;
    padding: 0.4em;
    background-color: #f0f0f0;
    max-width: 16em;
    img{
        margin-bottom: 1.2em;
        border-radius: 1em;
        box-shadow: 1px 2px 4px 1px #9b8f8f;
    }
}

.tarjeta{text-align: center;}
.listaBook{text-align:left; margin: 2em auto;}

.contarticle{
    background-color: #f0f0f0;
    width:fit-content;
    padding: 1em 1.5em;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-size: 18px;
    font-weight: 500;
    img{
        width: 13em;
        height: 13em;
        margin: 0.6em 1.6em;
        border-radius: 1.8em;
        box-shadow: 1px 2px 10px 2px #9b8f8f;
    }
}

.lista {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.titarti {margin-left:2em; font-size:1.6em;}
.imagarti {max-width:18em;margin:0 2em;}
.textarti {font-size:1.2em;margin: 2em;}

.ratio{
    box-shadow: 1px 2px 5px 0px #fdfdfd;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:30em;
    height: auto;
    margin: 0 auto;
    text-align:center;
    img{
        margin: 12em auto;
        max-width:12em;
    }
}

.delBook{
    float: right;
    border-radius: 50%;
    background-color: red;
    color:#f0f0f0;
    border: 1px solid #f0f0f0;
    font-size:0.7em;
}

textarea, input, .boton, select{
    width:fit-content;
    min-width:80%;
    max-width:90%;
    align-self: center;
    margin-top: 0.4em;
    padding:0.8em auto;
    border-radius: 8px;
    font-size:1em;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    background-color: rgb(97, 97, 97);
}

.futmen{
    text-align: right;
}

.botonaco{
    border-radius:15px;
    padding: 0.5em 1em;
    margin: 1em auto;
    text-align:center;
    :hover{
        background-color: rgb(128, 118, 118);
    }
}

.simbo {
    width:1.5em;
    height:auto;
    margin: auto;
}

.tabla{
    min-width: 26em;;
    border-radius: 10px;
    padding:1em;
    margin: 2em 3em;
    box-shadow: 1px 2px 8px 1px #b9b9b7a1;

}

.signos{
    text-align:right;
}


table, th, tr, td{background: transparent; height: fit-content;}